/* New Interview header */
h3 {
  text-align: center;
}

/* Entire information table styling  */
#left > div > table {
  border: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Text align of information table */
div.col-md-6.offset-md-3{
  align-content: center;
  text-align: center;
}

td {
  width: 250px;
  padding: 20px;
}

.info td {
  border-color: black;
}

/* Left column of information table styling */
.info td:first-child {
  font-weight: bold;
  background-color: lightgrey;
}

/* Update your info and Save button */
.btn-primary {
  background-color: #F26925;
  border: 0px;
}

.btn-primary:hover {
  background-color: rgb(241, 165, 126)
}

thead,
tbody {
  background-color: #fff;
}

/* controls form box after clicking "update your info" */
.toggledContainer {
  /* min-height: 300px; */
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.center-div {
  margin-top: 100px;
  padding: 20px;
}

#left {
  float: left;
  overflow: hidden;
}

#right {
  overflow: hidden;
}
